<!DOCTYPE html>
<html lang="ko" class="">
<head>

    <meta charset="UTF-8">
    <title> Home | BOOK FLIX </title>
    <meta property="og:title" content="BookFlex"/>
    <meta property="og:description" content="mini project"/>
    <meta property="og:image" content="{{ url_for('static', filename='books.png') }}"/>

    <link rel="stylesheet" type="text/css"
          href="https://d3udu241ivsax2.cloudfront.net/v3/style/brand.96f5815b57cacd0234fd.css">

    <style>

        .btn {

            width: 300px;

            background-color: #f40612;

            color: white;

            margin: auto;

            font-size: 50px;

            padding: 20px 20px 20px 20px;

            cursor: pointer;

            border-radius: 10px;

            border-color: white;

            text-align: center;

            display: block;
        }

    </style>

</head>

<body>
<section data-v-c1337ae8="" class="content">

    <section data-v-003e81a0="" data-v-c1337ae8="" class="brand">
        <section data-v-003e81a0="" id="manybook" class="manybook-section animation">
            <div data-v-003e81a0="" class="section-wrap">
                <div data-v-003e81a0="" class="text-wrap"><h2 data-v-003e81a0="">북플릭스<br data-v-003e81a0=""></h2>
                    <p data-v-003e81a0="">자신이 읽은 책들에 대해<br data-v-003e81a0="">간단하게 리뷰를 등록할 수 있는 페이지입니다.</p></div>
                <div data-v-003e81a0="" class="bookslide-wrap">
                    <div data-v-003e81a0="" class="slide slide01"></div>
                    <div data-v-003e81a0="" class="slide slide02"></div>
                    <div data-v-003e81a0="" class="slide slide03"></div>
                </div>
            </div>
        </section>
    </section>
</section>

<!--<button type="button" onclick="location.href='링크주소';"> 북플릭스 접속하기</button>-->
    <button type="button" class="btn" onClick="location.href='/login'">로그인</button>
</body>

</html>